.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* input {
  font-size: 1.5em;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
} */

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
input {
  font-size: 1.5em;
  padding: 10px;
  width: calc(100% - 110px); /* Adjust width to account for button width and margin */
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.guess {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.tile {
  width: 30px;
  height: 30px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.tile.correct {
  background-color: green;
  color: white;
}

.tile.present {
  background-color: orange;
  color: white;
}

.tile.absent {
  background-color: lightgray;
  color: black;
}